<!DOCTYPE html>
<html>
<head>
	<title>chap</title>
</head>
<body>
	<header>
<h1><a href="{% url 'home' %}">Home</a></h1>
<h1>No gAp ONly CHap</h1>
</header>
<nav>
	<ul>
		{% if user.is_authenticated%}
		<li>
		<form class="site-form" action="{% url 'Auth:Logout'%}" method="POST">
			{% csrf_token%}
			<button type="submit">Logout</button>
			
		</form>
	</li>
	<li><a href="{% url 'CreateDb:CreateDb'%}">CreateDb</a></li>
	{%else%}
	<li><a href="{% url 'Auth:Login'%}">Login</a></li>
	<li><a href="{% url 'Auth:Signup' %}">Signup</a></li>
	{%endif%}
</ul>
</nav>
<div>
	{%block content%}
	{%endblock%}
</div>
</body>
</html>